PLUGIN_INTERFACE=./plugins/build/libzic_OscController.so

PLUGIN_INTERFACE=./plugins/build/libzic_MidiEncoderController.so
DEVICE=Arduino Leonardo:Arduino Leonardo MIDI 1
ENCODER_TARGET=7 0
ENCODER_TARGET=6 1
ENCODER_TARGET=5 2
ENCODER_TARGET=4 3
ENCODER_TARGET=3 4
ENCODER_TARGET=2 5
ENCODER_TARGET=1 6
ENCODER_TARGET=0 7

# would be great to support 1/4screen 1/2screen....
#COMPONENT=Encoder 0 0 1/4screen 50
COMPONENT=Encoder 0 0 100 50
ENCODER_ID=0
VALUE=MultiModeFilter CUTOFF

COMPONENT=Encoder 100 0 100 50
ENCODER_ID=1
VALUE=MultiModeFilter RESONANCE

COMPONENT=Encoder 200 0 100 50
ENCODER_ID=2
VALUE=SampleRateReducer SAMPLE_STEP

COMPONENT=Encoder 300 0 100 50
ENCODER_ID=3
VALUE=Distortion DRIVE

COMPONENT=Encoder 400 0 100 50
GROUP=0
ENCODER_ID=4
VALUE=Delay TIME_RATIO

COMPONENT=Encoder 700 0 100 50
GROUP=0
ENCODER_ID=7
VALUE=GainVolume VOLUME

# Pad

COMPONENT=Pad 0 50 400 430
VALUE_X=Delay CUTOFF
VALUE_Y=Delay MASTER_AMPLITUDE

# Granular


COMPONENT=Encoder 400 50 100 50
GROUP=1
ENCODER_ID=4
VALUE=Granular SPRAY

COMPONENT=Encoder 500 50 100 50
GROUP=1
ENCODER_ID=5
VALUE=Granular PITCH

COMPONENT=Encoder 600 50 100 50
GROUP=1
ENCODER_ID=6
VALUE=Granular ATTACK

COMPONENT=Encoder 700 50 100 50
GROUP=1
ENCODER_ID=7
VALUE=Granular RELEASE

COMPONENT=Encoder 400 100 100 50
GROUP=2
ENCODER_ID=4
VALUE=Granular BROWSER

COMPONENT=Encoder 500 100 100 50
GROUP=2
ENCODER_ID=5
VALUE=Granular DELAY

COMPONENT=Encoder 600 100 100 50
GROUP=2
ENCODER_ID=6
VALUE=Granular GRAIN_SIZE

COMPONENT=Encoder 700 100 100 50
GROUP=2
ENCODER_ID=7
VALUE=Granular DENSITY

COMPONENT=Granular 400 150 400 330
GROUP=2
